/* 전체적인 디자인 수정하기(와이어 프레임과 동일하게) */


/* login 1 */

body {
    margin: 0 auto;
    overflow: hidden;
}

.login1_wrap {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 80vh;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.maintxt {
    text-align: left;
    margin-top: 4vh;
    margin-left: 92vh;
    margin-bottom: 0.2vh;
}

.txt1 {
    font-size: 2.5rem;
    width: 70vw;
    font-weight: 730;
    margin-bottom: 0.65vh;
    letter-spacing: 1.5px;
    margin-top: 2.5vh;
    line-height: 3.2rem;
    white-space: pre-line;
}

.txt2 {
    position: relative;
    bottom: 6vh;
    font-size: 0.625rem;
    width: 100vw;
    margin-top: 8vh;
    line-height: 2.2vh;
    letter-spacing: 0.1px;
}

#login1_submit_btn {
    padding: 2.3vh;
    font-size: 1.25rem;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border: 1px solid #bfbaba;
    border-radius: 50px;
    margin-bottom: 10vh;
    width: 25vw;
    align-items: center;
    margin: 10vh auto;
}

@media screen and (max-width: 768px) {
    .maintxt {
        margin-right: 211vw;
    }
    .txt1 {
        width: 80vw;
    }
    .txt2 {
        width: 80vw;
    }
    #login1_submit_btn {
        width: 80vw;
    }
}


/* login 2 */

.login2_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login2_wrap p {
    font-size: 2.2rem;
}

.bold_text {
    font-weight: bold;
}

.Gloginbox {
    font-size: 1.3rem;
    border: none;
    width: 28vw;
    height: 3em;
    text-align: center;
    padding: 4%;
    margin: 0 auto;
    display: block;
}

.Gloginbox:hover {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .login2_wrap {
        height: 60vh;
    }
    .Gloginbox {
        padding: 6%;
        width: 90vw;
        margin-top: 11vh;
    }
}


/* login 3 */

.Login3_txt1 {
    text-align: center;
    font-size: 2.2rem;
    margin: 0 auto;
    padding-top: 10vh;
    width: 90vw;
    font-weight: 400;
}

strong {
    font-weight: bolder;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.option {
    width: 40vw;
    height: 12vh;
    background-color: #f3f3f3;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 20px;
    text-align: center;
    margin: 1.5vh;
    cursor: pointer;
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #ED8C37;
    color: white;
}

#SelectclearBtn {
    padding: 2.3vh;
    font-size: 1.25rem;
    background-color: #ED8C37;
    color: #ffffff;
    border: #ED8C37;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 10vh;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 6vh;
    width: 65vw;
    cursor: pointer;
}

#SelectclearBtn:disabled {
    background-color: grey;
    color: white;
    width: 65vw;
    cursor: pointer;
}

@media (min-width: 768px) {
    .options {
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }
    #SelectclearBtn {
        width: 20vw;
        cursor: pointer;
    }
    #SelectclearBtn:disabled {
        background-color: grey;
        color: white;
        width: 20vw;
        cursor: pointer;
    }
}


/* login 4  */

.Login4_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.Login4_text {
    text-align: center;
    margin-top: 12vh;
    font-size: 2rem;
}

input[type='text'] {
    width: 40%;
    height: 5%;
    border-radius: 20px;
    margin-top: 1.2vh;
    padding: 2%;
    border: none;
    background-color: rgb(242, 242, 242);
    color: black;
    font-size: 1.2rem;
}

.wrap {
    width: 100%;
}

.StartBtn[type="submit"] {
    padding: 2.3vh;
    font-size: 1.25rem;
    text-align: center;
    background-color: #313030;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 10vh;
    align-items: center;
    margin: 0 auto;
    margin-top: 12vh;
    margin-bottom: 6vh;
    cursor: pointer;
    border: 1px solid #BFBABA;
    border-radius: 50px;
    margin-bottom: 10vh;
    width: 25vw;
    align-items: center;
    margin: 10vh auto;
}

.StartBtn[type="submit"]:disabled {
    background-color: grey;
    color: white;
    border: 2px solid grey;
}

button[type="submit"]:enabled {
    cursor: pointer;
    background-color: #ED8C37;
}

form #myInfo {
    margin-top: 6vw;
    padding: 1.2%;
    margin-bottom: 10%;
}

.Login4_input {
    text-align: center;
    margin-top: 11vh;
}

.gender_selector {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.gender_selector input[type='radio'] {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
}

.gender_selector label {
    font-size: 1.6rem;
}

#gender {
    width: 44%;
    height: 5%;
    border-radius: 20px;
    margin-top: 2vh;
    padding: 2.2%;
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .Login4_wrap {
        height: 110vh;
    }
    input[type='text'] {
        width: 80%;
        height: 8%;
        margin-top: 1.2vh;
        padding: 2.2%;
        font-size: 1.6rem;
    }
    #StartBtn {
        margin-top: 3vh;
        width: 50vw;
        height: 30%;
        font-size: 1.2rem;
        padding: 4%;
    }
    form #myInfo {
        margin-top: 3vh;
    }
    .Login4_input {
        margin-top: 8vh;
    }
    #gender {
        width: 84%;
    }
}